{% set currentRoute = app.request.attributes.get('_route') %}

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="{{ path('home') }}" class="brand-link"> <img
		src="/images/logo-mini.png" alt="DomainMOD Logo"
		class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">DomainMOD</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column"
				data-widget="treeview" role="menu" data-accordian="false">

				{{ _self.navLink('Dashboard','home','fa-tachometer-alt') }}
				{{ _self.navLink('Domains','domain_index','fa-sitemap') }}
				{{ _self.navLink('Queue','queue','fa-hourglass-start') }}
				{{ _self.navLink('SSL Certificates','ssl_cert_index','fa-lock') }}
				{{ _self.navLink('Assets','asset','fa-cubes') }}
				{{ _self.navLink('Segments','segment','fa-filter') }}
				{{ _self.navLink('Bulk Updater','segment','fa-copy') }}
				{{ _self.navLink('Reporting','reporting_index','fa-chart-bar') }}
				{% if is_granted('ROLE_ADMIN') %}
				{{ _self.navLink('Data Warehouse','segment','fa-database') }}
				{% endif %}

				<li class="nav-item has-treeview"><a href="#" class="nav-link"><i
						class="nav-icon fa fa-cogs"></i>
						<p>
							Settings<i class="right fa fa-angle-left"></i>
						</p></a>
					<ul class="nav nav-treeview">
						{{ _self.navLink('Display Settings','settings_display','fa-tv') }}
						{{ _self.navLink('User Defaults','settings_defaults','fa-sliders-h') }}
						{{ _self.navLink('User Profile','settings_profile','fa-passport') }}
						{{ _self.navLink('Change Password','settings_password','fa-key') }}
					</ul></li>

				<li class="nav-item has-treeview"><a href="#" class="nav-link"><i
						class="nav-icon fa fa-check"></i>
						<p>
							Maintenance<i class="right fa fa-angle-left"></i>
						</p></a>
					<ul class="nav nav-treeview">
						{{ _self.navLink('Update Conversion Rates','segment','fa-coins') }}
						{{ _self.navLink('Update Domain Fees','segment','fa-money-bill-wave') }}
						{{ _self.navLink('Update SSL Fees','segment','fa-money-bill-alt') }}
					</ul></li>

				{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item has-treeview"><a href="#" class="nav-link"><i
						class="nav-icon fa fa-wrench"></i>
						<p>
							Administration<i class="right fa fa-angle-left"></i>
						</p></a>
					<ul class="nav nav-treeview">
						{{ _self.navLink('System Settings','admin_settings','fa-cog') }}
						{{ _self.navLink('System Defaults','admin_defaults','fa-tasks') }}
						{{ _self.navLink('Users','user_index','fa-users-cog') }}
						{{ _self.navLink('Custom Domain Fields','segment','fa-building') }}
						{{ _self.navLink('Custom SSL Fields','segment','fa-key') }}
						{{ _self.navLink('Task Scheduler','scheduler_index','fa-calendar-alt') }}
						{{ _self.navLink('Maintenance','segment','fa-tools') }}
						{{ _self.navLink('Backup & Restore','segment','fa-archive') }}
						{{ _self.navLink('Debug Log','segment','fa-bug') }}
						{{ _self.navLink('System Information','segment','fa-info') }}
					</ul></li>
				{% endif %}
			</ul>
		</nav>
	</div>
</aside>

{% macro navLink(text, route, icon) %}
<li class="nav-item"><a href="{{ path(route) }}"
	class="nav-link {{ app.request.attributes.get('_route') == route ? "active" }}">
		<i class="nav-icon fa {{ icon }}"></i>
		<p>
			{{ text }}
		</p>
</a></li>
{% endmacro %}