<html>
<head>
    <meta charset="UTF-8">
    <title>DomainMOD :: {% block title %}Login{% endblock %}</title>

    <link rel="icon" type="image/ico"
          href="{{ asset('build/images/favicon.ico') }}"/>
    <style type="text/css">
        html {
            overflow-y: scroll;
        }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    {{ encore_entry_link_tags('app') }}
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <img src="{{ asset('build/images/logo-lg.png') }}">
    </div>

    <div class="card">
        <div class="card-body login-box-body">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as
                        {{ app.user.username }}
                        , <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="input-group mb-3">
                    <input type="text" name="username" id="inputUsername" value="{{ last_username }}" required autofocus
                           class="form-control" placeholder="Username">
                    <div class="input-group-append">
                        <div class="input-group-text"><span class="fas fa-envelope"></span></div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="password" name="password" id="inputPassword" required class="form-control"
                           placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">


                <div class="row">
                    <div class="col-8">
                        {#
       Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. See
https://symfony.com/doc/current/security/remember_me.html

                        <div class="icheck-primary">
                            <input type="checkbox" name="_remember_me" id="_remember_me"><label for="_remember_me">Remember
                                Me</label>
                        </div>
                        #}
                    </div>

                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{ encore_entry_script_tags('app') }}
</body>
</html>
