{% extends 'base.html.twig' %}

{% block title %}
Add Domains to Queue
{% endblock %}

{% block body %}
<strong>Domain Queue & API Prerequisites</strong>
<BR>
Before you can add domains to DomainMOD using the Domain Queue you must
first do the following:
<ol>
	<li>Ensure that the registrar has an API and that your account has
		been granted access to it</li>
	<li>Enable API Support on the <a
		href="{{ path('registrar_index') }}">registrar asset</a></li>
	<li>Save the required API credentials with the <a
		href="{{ path('registrar_account_index') }}">registrar account
			asset</a></li>
</ol>

<form method="post">
	<div class="form-group">
		<label class="control-label"> </label> <select class="form-control"
			name="jumpMenu" id="jumpMenu" onChange="MM_jumpMenu('parent',this,0)">
			<option value="">Choose the Registrar Account to import</option>
			{% for a in accounts %}
			<option value="{{ path('queue_add', {id: a.id }) }}"
				{% if account and a.id == account.id %} selected {% endif %}>{{ a }}</option>
			{% endfor %}
		</select>
	</div>

	{% if account %}
	<strong>API Requirements</strong> <br>
	{{ account.registrar.apiRegistrar }}
	requires the following credentials in order to use their API. These
	credentials must to be saved with the <a
		href="{{ path('registrar_account_edit', { id: account.id }) }}">registrar
		account asset</a> .

	<ul>

		{% if account.registrar.apiRegistrar.reqAccountUsername %}
		<li>Registrar Account Username {{ account.username ? '(<span style="color: darkgreen"><strong>saved</strong></span>)' : '(<a href="' ~ path('registrar_account_edit', { id: account.id }) ~ '"><span style="color: #a30000"><strong>missing - click here to enter</strong></span></a>)'}}</li>
		{% endif %}

		{% if account.registrar.apiRegistrar.reqAccountPassword %}
		<li>Registrar Account Password {{ account.password ? '(<span style="color: darkgreen"><strong>saved</strong></span>)' : '(<a href="' ~ path('registrar_account_edit', { id: account.id }) ~ '"><span style="color: #a30000"><strong>missing - click here to enter</strong></span></a>)'}}</li>
		{% endif %}

		{% if account.registrar.apiRegistrar.reqResellerId %}
		<li>Reseller ID {{ account.resellerId ? '(<span style="color: darkgreen"><strong>saved</strong></span>)' : '(<a href="' ~ path('registrar_account_edit', { id: account.id }) ~ '"><span style="color: #a30000"><strong>missing - click here to enter</strong></span></a>)'}}</li>
		{% endif %}

		{% if account.registrar.apiRegistrar.reqApiAppName %}
		<li>API Application Name {{ account.apiAppName ? '(<span style="color: darkgreen"><strong>saved</strong></span>)' : '(<a href="' ~ path('registrar_account_edit', { id: account.id }) ~ '"><span style="color: #a30000"><strong>missing - click here to enter</strong></span></a>)'}}</li>
		{% endif %}

		{% if account.registrar.apiRegistrar.reqApiKey %}
		<li>API Key {{ account.apiKey ? '(<span style="color: darkgreen"><strong>saved</strong></span>)' : '(<a href="' ~ path('registrar_account_edit', { id: account.id }) ~ '"><span style="color: #a30000"><strong>missing - click here to enter</strong></span></a>)'}}</li>
		{% endif %}

		{% if account.registrar.apiRegistrar.reqApiSecret %}
		<li>API Secret {{ account.apiSecret ? '(<span style="color: darkgreen"><strong>saved</strong></span>)' : '(<a href="' ~ path('registrar_account_edit', { id: account.id }) ~ '"><span style="color: #a30000"><strong>missing - click here to enter</strong></span></a>)'}}</li>
		{% endif %}

		{% if account.registrar.apiRegistrar.reqIpAddress %}
		<li>Connecting IP Address {{ account.apiIp ? '(<span style="color: darkgreen"><strong>saved</strong></span>)' : '(<a href="' ~ path('registrar_account_edit', { id: account.id }) ~ '"><span style="color: #a30000"><strong>missing - click here to enter</strong></span></a>)'}}</li>
		{% endif %}
	</ul>
	{% endif %}


	{% if account %}

	{% if account.registrar.apiRegistrar.notes %}
	<strong>Registrar Notes</strong> <br>
	{{ account.registrar.apiRegistrar.notes|raw }}
	<br> <br>
	{% endif %}

	{% if account.registrar.apiRegistrar.listsDomains %}
	<strong>Domain List</strong> <br>
	{{ account.registrar.apiRegistrar.name }}
	's API has a domain list feature, so you don\'t even have to supply a
	list of the domains you want to import, DomainMOD will retrieve them
	for you automatically. If for some reason you\'re having issues with
	the automatic import though, you can still manually paste a list of
	domains to import below. <br> <br>
	<div class="form-group">
		<label>[OPTIONAL] Domains to add (one per line) </label>
		<textarea class="form-control"
			placeholder="[OPTIONAL] Domains to add (one per line)"
			name="raw_domain_list" style="height: 80px;"></textarea>
	</div>
	{% else %}
	<div class="form-group">
		<label>Domains to add (one per line)<strong><span
				style="color: #a30000">*</span></strong>
		</label>
		<textarea class="form-control"
			placeholder="Domains to add (one per line)" name="raw_domain_list"
			style="height: 80px;"></textarea>
	</div>
	{% endif %}
	{{ _self.showButton('submit','Add Domains') }}
	{% endif %}
</form>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
<!--
	function MM_jumpMenu(targ, selObj, restore) { //v3.0
		eval(targ + ".location='" + selObj.options[selObj.selectedIndex].value
				+ "'");
		if (restore)
			selObj.selectedIndex = 0;
	}
//-->
</script>
{% endblock %}
