{% extends 'base.html.twig' %}

{% block title %}
Domain Queue
{% endblock %}

{% block body %}
The Domain Queue relies on your domain registrar's API to import your
domains, so they must have an API and support for it must be built into
DomainMOD. For more information please see the
<a href="intro.php">Domain Queue information page</a>
.
<br>
<br>
<a href="{{ path('queue_add') }}">{{ _self.showButton('button', 'Add Domains to Queue') }}</a>
{% if domainsInQueue %}
<a href="index.php?clear=1">{{ _self.showButton('button', 'Clear Completed') }}</a>
{% endif %}
<a href="{{ path('queue_intro') }}">{{ _self.showButton('button', 'More Info') }}</a>
{% if domainsInListQueue %}
<a href="{{ path('queue_export_lists') }}">{{ _self.showButton('button', 'Export Lists') }}</a>
{% endif %}
{% if domainsInQueue %}
<a href="{{ path('queue_export_domains') }}">{{ _self.showButton('button', 'Export Domains') }}</a>
{% endif %}
<br>
<br>
{% endblock %}
