{% set softwareSectionLogo = 'fa-cubes' %}

{% extends 'base.html.twig' %}

{% block title %}SslAccount index{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('asset') }}">Assets</a></li>
<li class='active'>SSL Accounts</li>
{% endblock %}

{% block body %}

{% if ssl_accounts %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Owner</th>
                <th>SslProvider</th>
                <th>EmailAddress</th>
                <th>Username</th>
                <th>Password</th>
                <th>Reseller</th>
                <th>ResellerId</th>
                <th>Notes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ssl_account in ssl_accounts %}
            <tr>
                <td>{{ ssl_account.id }}</td>
                <td>{{ ssl_account.owner }}</td>
                <td>{{ ssl_account.sslProvider }}</td>
                <td>{{ ssl_account.emailAddress }}</td>
                <td>{{ ssl_account.username }}</td>
                <td>{{ ssl_account.password }}</td>
                <td>{{ ssl_account.reseller ? 'Yes' : 'No' }}</td>
                <td>{{ ssl_account.resellerId }}</td>
                <td>{{ ssl_account.notes }}</td>
                <td>
                    <a href="{{ path('ssl_account_edit', {'id': ssl_account.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
<BR>You don't currently have any SSL Provider Accounts. <a href="{{ path('ssl_account_new') }}">Click here to add one</a>.<BR>
{% endif %}
{% endblock %}
