{% extends 'base.html.twig' %}

{% block title %}SslAccount{% endblock %}

{% block body %}
    <h1>SslAccount</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ssl_account.id }}</td>
            </tr>
            <tr>
                <th>OwnerId</th>
                <td>{{ ssl_account.ownerId }}</td>
            </tr>
            <tr>
                <th>SslProviderId</th>
                <td>{{ ssl_account.sslProviderId }}</td>
            </tr>
            <tr>
                <th>EmailAddress</th>
                <td>{{ ssl_account.emailAddress }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ ssl_account.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ ssl_account.password }}</td>
            </tr>
            <tr>
                <th>Reseller</th>
                <td>{{ ssl_account.reseller ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ResellerId</th>
                <td>{{ ssl_account.resellerId }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ ssl_account.notes }}</td>
            </tr>
            <tr>
                <th>CreationTypeId</th>
                <td>{{ ssl_account.creationTypeId ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ ssl_account.createdBy }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ ssl_account.created ? ssl_account.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ ssl_account.updated ? ssl_account.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ssl_account_index') }}">back to list</a>

    <a href="{{ path('ssl_account_edit', {'id': ssl_account.id}) }}">edit</a>

    {{ include('ssl_account/_delete_form.html.twig') }}
{% endblock %}
