{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form) }}
{# {{ form_widget(form) }} #}
    {% if not form.vars.valid or domain.name is empty %}
    {{ form_row(form.name) }}
    {% endif %}
    {{ form_row(form.function) }}
    {{ form_row(form.expiryDate) }}
    {{ form_row(form.account) }}
    {{ form_row(form.dns) }}
    {{ form_row(form.ip) }}
    {{ form_row(form.hosting) }}
    {{ form_row(form.category) }}
    {{ form_row(form.status) }}
    {{ form_row(form.autorenew) }}
    {{ form_row(form.privacy) }}
    {{ form_row(form.notes) }}
    <button style="margin-top:5px" class="btn btn-primary btn-danger">{{ button_label|default('Add Domain') }}</button>
{{ form_end(form) }}
