{% extends 'base.html.twig' %}

{% block title %}Domain{% endblock %}

{% block body %}
    <h1>Domain</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ registrar.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ registrar.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ registrar.url }}</td>
            </tr>
            <tr>
                <th>ApiRegistrarId</th>
                <td>{{ registrar.apiRegistrarId ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ registrar.notes }}</td>
            </tr>
            <tr>
                <th>CreationTypeId</th>
                <td>{{ registrar.creationTypeId ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ registrar.createdBy }}</td>
            </tr>
            <tr>
                <th>InsertTime</th>
                <td>{{ registrar.insertTime ? registrar.insertTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdateTime</th>
                <td>{{ registrar.updateTime ? registrar.updateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('registrar_index') }}">back to list</a>

    <a href="{{ path('registrar_edit', {'id': registrar.id}) }}">edit</a>

    {{ include('registrar/_delete_form.html.twig') }}
{% endblock %}
