{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form) }}
{{ form_row(form.registrar) }}
{{ form_row(form.owner) }}
{{ form_row(form.emailAddress) }}
{{ form_row(form.username) }}
{{ form_row(form.password) }}
{{ form_row(form.reseller) }}
{{ form_row(form.resellerId) }}

<div class="box box-default collapsed-box box-solid">
	<div class="box-header with-border">
		<h3 class="box-title" style="padding-top: 3px;">
			<button type="button" class="btn btn-box-tool" data-widget="collapse">
				<i class="fa fa-plus"></i>
			</button>
			&nbsp;API Credentials
		</h3>
	</div>
	<div class="box-body">

		{% if registrar_account.registrar.apiRegistrar|default(false) %}
		<strong>API Requirements</strong><BR>
		{{ registrar_account.registrar.apiRegistrar.name }}
		requires the following credentials in order to use their API.

		<ul>
			{% if registrar_account.registrar.apiRegistrar.reqAccountUsername %}
			<li>Registrar Account Username {% if registrar_account.username %}
				(<span style="color: darkgreen"><strong>saved</strong></span>) {% else %}
				(<span style="color: #a30000"><strong>missing</strong></span>) {% endif %}
			</li>
			{% endif %}
			{% if registrar_account.registrar.apiRegistrar.reqAccountPassword %}
			<li>Registrar Account Password {% if registrar_account.password %}
				(<span style="color: darkgreen"><strong>saved</strong></span>) {% else %}
				(<span style="color: #a30000"><strong>missing</strong></span>) {% endif %}
			</li>
			{% endif %}
			{% if registrar_account.registrar.apiRegistrar.reqResellerId %}
			<li>Reseller ID {% if registrar_account.resellerId %}
				(<span style="color: darkgreen"><strong>saved</strong></span>) {% else %}
				(<span style="color: #a30000"><strong>missing</strong></span>) {% endif %}
			</li>
			{% endif %}
			{% if registrar_account.registrar.apiRegistrar.reqApiAppName %}
			<li>API Application Name {% if registrar_account.apiAppName %}
				(<span style="color: darkgreen"><strong>saved</strong></span>) {% else %}
				(<span style="color: #a30000"><strong>missing</strong></span>) {% endif %}
			</li>
			{% endif %}
			{% if registrar_account.registrar.apiRegistrar.reqApiKey %}
			<li>API Key {% if registrar_account.apiKey %}
				(<span style="color: darkgreen"><strong>saved</strong></span>) {% else %}
				(<span style="color: #a30000"><strong>missing</strong></span>) {% endif %}
			</li>
			{% endif %}
			{% if registrar_account.registrar.apiRegistrar.reqApiSecret %}
			<li>API Secret {% if registrar_account.apiSecret %}
				(<span style="color: darkgreen"><strong>saved</strong></span>) {% else %}
				(<span style="color: #a30000"><strong>missing</strong></span>) {% endif %}
			</li>
			{% endif %}
			{% if registrar_account.registrar.apiRegistrar.reqIpAddress %}
			<li>Connecting IP Address {% if registrar_account.apiIp %}
				(<span style="color: darkgreen"><strong>saved</strong></span>) {% else %}
				(<span style="color: #a30000"><strong>missing</strong></span>) {% endif %}
			</li>
			{% endif %}
		</ul>
		{% endif %}

		{{ form_row(form.apiAppName) }}
		{{ form_row(form.apiKey) }}
		{{ form_row(form.apiSecret) }}
		{{ form_row(form.apiIp) }}
	</div>
</div>
{{ form_row(form.notes) }}

<button style="margin-top: 5px" class="btn btn-primary btn-danger">
	{{ button_label|default('Add Registrar Account') }}
</button>
{{ form_end(form) }}