{% set softwareSectionLogo = 'fa-cubes' %}

{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ path('asset') }}">Assets</a></li>
<li class='active'>Categories</li>
{% endblock %}

{% block body %}
Below is a list of all the Categories that are stored in DomainMOD.<BR><BR>
<a href="{{ path('category_new') }}">{{ _self.showButton('button', 'Add Category') }}</a>
<a href="{{ path('category_export') }}">{{ _self.showButton('button','Export') }}</a><BR><BR>

{% if categories %}
    <table id="assets-categories" class="table table-striped dt-responsive cell-border compact">
        <thead>
            <tr>
            <th width="20px"></th>
            <th>Category</th>
            <th>Stakeholder</th>
            <th>Domains</th>
            <th>SSL Certs</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td></td>
                <td><a href="{{ path('category_edit', { id: category.id }) }}">{{ category.name }}</a>
                {% if category.id == app.user.settings.defaultCategoryDomains.id %}*{% endif %}
                {% if category.id == app.user.settings.defaultCategorySsl.id %}^{% endif %}
                </td>
                <td><a href="{{ path('category_edit', { id: category.id }) }}">{{ category.stakeholder }}</a></td>
                <td>{{ category.domains|length ?: '-' }}</td>
                <td>{{ category.sslCerts|length ?: '-' }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
        <strong>*</strong> = Default Domain Owner &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>^</strong> = Default SSL Owner (<a href="{{ path('settings_defaults') }}">set defaults</a>)<BR><BR>
    
{% else %}
    <BR>You don't currently have any Categories. <a href="{{ path('category_new') }}">Click here to add one</a>.
{% endif %}
{% endblock %}

{% block datatable_options %}

var oldStart = 0;
$('#assets-categories').DataTable({
    "paging": true,
    "lengthChange": true,
    "lengthMenu": [ [25, 50, 75, 100, -1], [25, 50, 75, 100, "All"] ],
    "searching": true,
    "info": true,
    "autoWidth": true,
    "bAutoWidth": false,
    "responsive": {
         details: {
                   type: "column"
                  }
                  },
    "columnDefs": [ {
                     className: "control",
                     orderable: false,
                     targets:   0
                     } ],
    "ordering": true,
    "order": [[ 1, "asc" ]],
    "bSortClasses": false,
    "dom": '<"top"lif>rt<"bottom"ip><"clear">',
    "fnDrawCallback": function (o) {
      if ( o._iDisplayStart != oldStart ) {
          var targetOffset = $("#assets-categories").offset().top;
          $("html,body").animate({scrollTop: targetOffset}, 0);
          oldStart = o._iDisplayStart;
      }
    }
});

{% endblock %}
