{% extends 'base.html.twig' %}

{% block title %}Segments{% endblock %}

{% block body %}

    Segments are lists of domains that can be used to help filter and manage your <a href="{{ path('domain_index') }}">domain
    results</a>.<BR>
    <BR>
    Segment filters will tell you which domains match with domains that are saved in DomainMOD, as well
    as which domains don't match, and you can easily view and export the results.<BR>
    <BR>
    <a href="{{ path('segment_new') }}">{{ _self.showButton('button','Add New Segment') }}</a>
    <a href="{{ path('segment_export') }}">{{ _self.showButton('button','Export') }}</a><BR><BR>

    {% if segments %}
        <table id="segments-main" class="table table-striped dt-responsive cell-border compact">
            <thead>
            <tr>
                <th style="width: 20px"></th>
                <th>Name</th>
                <th>Domains</th>
                <th>Count</th>
                <th>Export</th>
            </tr>
            </thead>
            <tbody>
            {% for segment in segments %}
                <tr>
                    <td></td>
                    <td><a href="{{ path('segment_edit', { id: segment.id }) }}">{{ segment.name }}</a></td>
                    <td>{{ segment.segment }}</td>
                    <td>{{ segment.numberOfDomains }}</td>
                    <td><a href="{{ path('segment_export', { segment: segment.id }) }}">EXPORT</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        You don't currently have any Segments. <a href="{{ path('segment_new') }}">Click here to add one</a>.<BR><BR>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <style>
        #segments-main thead th {
            padding: 2px 0px 2px 6px;
            border: 0;
            white-space: nowrap;
        }

        #segments-main tbody tr:hover {
            background-color: #dddddd;
        }

        #segments-main tbody td {
            padding: 2px 0px 2px 6px;
            border: 0;
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block datatable_options %}
    $('#segments-main').DataTable({});
{% endblock %}