{% extends 'base.html.twig' %}

{% block title %}Hello AssetController!{% endblock %}

{% block body %}
<h3>Domains</h3>
<a href="{{ path('registrar_index') }}">Domain Registrars</a><BR>
<a href="{{ path('registrar_account_index') }}">Domain Registrar Accounts</a><BR>
<a href="{{ path('dns_index') }}">DNS Profiles</a><BR>
<a href="{{ path('hosting_index') }}">Web Hosting Providers</a>

<h3>SSL Certificates</h3>
<a href="{{ path('ssl_provider_index') }}">SSL Providers</a><BR>
<a href="{{ path('ssl_account_index') }}">SSL Provider Accounts</a><BR>
<a href="{{ path('ssl_cert_type_index') }}">SSL Certificate Types</a>

<h3>Shared</h3>
<a href="{{ path('owner_index') }}">Account Owners</a><BR>
<a href="{{ path('category_index') }}">Categories</a><BR>
<a href="{{ path('ip_address_index') }}">IP Addresses</a><BR><BR>

{% endblock %}
