{% from "@AdminLTE/Macros/buttons.html.twig" import link_button %}

{% extends 'base.html.twig' %}

{% block title %}
    Web Hosting Providers
{% endblock %}

{% block page_content %}
    {% embed '@AdminLTE/Widgets/card-widget.html.twig' %}
        {% from "@AdminLTE/Macros/buttons.html.twig" import link_button %}

        {% block card_body %}
            Below is a list of all the Web Hosting Providers that are stored in
            DomainMOD. <br> <br>

            {{ link_button('Add Hosting Provider', path('hosting_new')) }}
            {{ link_button('Export', path('hosting_export')) }}

            <br> <br>

            {% if hostings %}
                <table id="assets-hosting"
                       class="table table-striped dt-responsive cell-border compact">
                    <thead>
                    <tr>
                        <th style="width: 20px"></th>
                        <th>Host</th>
                        <th>Domains</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hosting in hostings %}
                        <tr>
                            <td></td>
                            <td><a href="{{ path('hosting_edit',{ id: hosting.id }) }}">{{ hosting.name }}</a>
                                {% if hosting.id == app.user.settings.defaultHost.id|default(false) %}*{% endif %}
                            </td>
                            <td>
                                <a href="{{ path('domain_index', { 'domain_filter[hosting]': hosting.id }) }}">{{ hosting.domains|length ?: '-' }}</a>
                            </td>
                            <td>{% if hosting.url|default(false) %}<a target="_blank" href="{{ hosting.url }}">
                                        www</a>{% endif %}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <strong>*</strong> = Default ( <a
                    href="{{ path('settings_defaults') }}">set defaults</a> ) <BR>
                <BR>
            {% else %}
                <BR> You don't currently have any Web Hosts. <a
                    href="{{ path('hosting_new') }}">Click here to add one</a> .
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block stylesheets %}
    <style>
        #assets-hosting thead th {
            padding: 2px 0px 2px 6px;
            border: 0;
            white-space: nowrap;
        }

        #assets-hosting tbody tr:hover {
            background-color: #dddddd;
        }

        #assets-hosting tbody td {
            padding: 2px 0px 2px 6px;
            border: 0;
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('datatables') }}
    <script>
        $('#assets-hosting').DataTable({
            'pageLength': 25
        });
    </script>
{% endblock %}
