{% from "@AdminLTE/Macros/buttons.html.twig" import link_button %}

{% extends 'base.html.twig' %}

{% block title %}
Domain Registrars
{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				Below is a list of all the Domain Registrars that are stored in
				DomainMOD. <br> <br>

				{{ link_button('Add Registrar', path('registrar_new')) }}
				{{ link_button('Export', path('registrar_export')) }}

				<br> <br>

				{% if registrars is not empty %}

				<table id="assets-registrars"
					class="table table-striped dt-responsive cell-border compact">
					<thead>
						<tr>
							<th style="width: 20px"></th>
							<th>Registrar</th>
							<th>Accounts</th>
							<th>Domains</th>
							<th>Options</th>
						</tr>
					</thead>

					<tbody>

						{% for registrar in registrars %}
						{% if registrar.numDomains >= 1 or app.user.settings.displayInactiveAssets %}
						<tr>
							<td></td>
							<td><a
								href="{{ path('registrar_edit',{ id: registrar.id}) }}">{{ registrar.name }}</a>
								{% if app.session.get('settings').defaultRegistrar.id|default(false) == registrar.id %}<strong>*</strong>
								{% endif %}</td>
							<td>{% if registrar.numAccounts >= 1 %} <a
								href="{{ path('registrar_account_index', { registrar: registrar.id }) }}">{{ registrar.numAccounts|number_format }}</a>
								{% else %} - {% endif %}</td>
							<td>{% if registrar.numDomains >= 1 %} <a
								href="{{ path('domain_index', { 'domain_filter[registrar]': registrar.id }) }}">{{ registrar.numDomains|number_format }}</a>
								{% else %} - {% endif %}</td>
							<td><a href="{{ path('fee_index', { id: registrar.id }) }}">fees</a>&nbsp;&nbsp;
								{% if registrar.url %} <a target="_blank"
								href="{{ registrar.url }}">www</a> {% endif %}</td>
						</tr>
						{% endif %}
						{% endfor %}
					</tbody>
				</table>

				<strong>*</strong> = Default ( <a
					href="{{ path('settings_defaults') }}">set defaults</a> ) <br>
				<br>

				{% else %}
				<br> You don't currently have any Domain Registrars. <a
					href="{{ path('registrar_new') }}">Click here to add one</a> .
				{% endif %}

{% include '_partials/inactive-assets.html.twig' %}

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
	<style>
		#assets-registrars thead th {
			padding: 2px 0px 2px 6px;
			border: 0;
			white-space: nowrap;
		}

		#assets-registrars tbody tr:hover {
			background-color: #dddddd;
		}

		#assets-registrars tbody td {
			padding: 2px 0px 2px 6px;
			border: 0;
			white-space: nowrap;
		}
	</style>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('datatables') }}
	<script>
	$('#assets-registrars').DataTable({
	'pageLength': 25
	});
</script>
{% endblock %}
