{% set softwareSectionLogo = 'fa-lock' %}

{% extends 'base.html.twig' %}

{% block title %}SSL Certificates{% endblock %}

{% block breadcrumbs %}
<li class='active'>SSL Certs</li>
{% endblock %}

{% block body %}

<a href="{{ path('ssl_cert_new') }}">{{ _self.showButton('button','Add SSL Cert') }}</a>
    <a target="_blank" href="raw.php">{{ _self.showButton('button','Raw List') }}</a>
    <a href="{{ path('ssl_cert_export') }}">{{ _self.showButton('button','Export') }}</a>

    <BR><BR><strong>Total Cost:</strong> $0.00 USD <BR>
    <strong>Number of SSL Certs:</strong> {{ ssl_certs|length }}<BR><BR>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ip</th>
                <th>Name</th>
                <th>ExpiryDate</th>
                <th>TotalCost</th>
                <th>Notes</th>
                <th>Status</th>
                <th>FeeFixed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ssl_cert in ssl_certs %}
            <tr>
                <td>{{ ssl_cert.id }}</td>
                <td>{{ ssl_cert.ip }}</td>
                <td>{{ ssl_cert.name }}</td>
                <td>{{ ssl_cert.expiryDate ? ssl_cert.expiryDate|date('Y-m-d') : '' }}</td>
                <td>{{ ssl_cert.totalCost }}</td>
                <td>{{ ssl_cert.notes }}</td>
                <td>{{ ssl_cert.status }}</td>
                <td>{{ ssl_cert.feeFixed ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('ssl_cert_show', {'id': ssl_cert.id}) }}">show</a>
                    <a href="{{ path('ssl_cert_edit', {'id': ssl_cert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ssl_cert_new') }}">Create new</a>
{% endblock %}
