<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>DomainMOD :: {% block title %}{% endblock %}</title>

<link rel="icon" type="image/ico" href="/images/favicon.ico" />
<style>
html {
	overflow-y: scroll;
}
</style>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
{{ encore_entry_link_tags('bootstrap') }}
{{ encore_entry_link_tags('datatables') }}
{{ encore_entry_link_tags('app') }}
{% block stylesheets %}
{% endblock %}
</head>
<body class="hold-transition skin-red sidebar-mini"
	onLoad="document.forms[0].elements[0].focus()">

	<!-- Site wrapper -->
	<div class="wrapper">

		{% include '_partials/top-navbar.html.twig' %}
		<!-- =============================================== -->

		{% include '_partials/menu-main.html.twig' %}

		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">
								{{ block('title') }}
							</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								{% block breadcrumbs %}
								{% endblock %}
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">

						{% block body %}
						{% endblock %}

				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->


		<footer class="main-footer">
			<div class="float-right d-none d-sm-inline">Version 5.0.0</div>
			<a href="http://domainmod.org">DomainMOD </a> is open source software
			released under the <a href="http://www.gnu.org/licenses/">GNU/GPL
				License</a>. Created by <a href="http://chetcuti.com">Greg Chetcuti</a>.<BR>
		</footer>

	</div>
	<!-- ./wrapper -->

	{{ encore_entry_script_tags('bootstrap') }}
	{{ encore_entry_script_tags('datatables') }}
	{{ encore_entry_script_tags('app') }}

	<script>
  $(function () {

    //Initialize Select2 Elements
    $(".select2").select2();

    {% block datatable_options %}
    {% endblock %}

    //Red color scheme for iCheck
    $('input[type="checkbox"].square-red, input[type="radio"].square-red').iCheck({
      checkboxClass: 'icheckbox_square-red',
      radioClass: 'iradio_square-red'
    });

    //Colorpicker
    // $(".my-colorpicker1").colorpicker();

    {% for message in app.flashes('danger') %}
    $(document).Toasts('create', {
        title: 'Warning',
        class: 'bg-danger',
        autohide: true,
        body: '{{ message }}'
      });
    {% endfor %}
    
	{% for message in app.flashes('success') %}
    $(document).Toasts('create', {
        title: 'Success',
        class: 'bg-success',
        autohide: true,
        body: '{{ message }}'
      });
    {% endfor %}

    {% for message in app.flashes('info') %}
    $(document).Toasts('create', {
        title: 'Information',
        class: 'bg-info',
        autohide: true,
        body: '{{ message }}'
      });
    {% endfor %}
  });
</script>

	{% block javascripts %}
	{% endblock %}
</body>
</html>

{% macro breadcrumb(section, position, data) %}
<ol class="breadcrumb pull-{{ position }}">
	{% if data == "<li>Dashboard</li>\n" %}
	<li><i class="fa fa-dashboard"></i></li>
	{% else %}
	<li><a href="{{ path('home') }}"><i class="fa fa-dashboard"></i></a></li>
	{% endif %}

	{{ data|raw }}
</ol>
{% endmacro %}

{% macro showButton(type, text) %}
<button style="margin-top: 5px" type="{{ type }}"
	class="btn btn-primary btn-danger">
	{{ text }}
</button>
&nbsp;
{% endmacro %}

{% macro highlightText(color, text) %}
<strong><span
	style="color: {{ color == 'red' ? '#a30000' : '#009933' }}">{{ text }}</span></strong>
{% endmacro %}