{% extends 'base.html.twig' %}

{% block title %}
    Domain Registrar Fees
{% endblock %}

{% block page_content %}
    {% embed '@AdminLTE/Widgets/card-widget.html.twig' %}
        {% from "@AdminLTE/Macros/buttons.html.twig" import link_button %}

        {% block card_body %}
            Below is a list of all the fees associated with <a
                href="{{ path('registrar_edit', { id: registrar.id }) }}">{{ registrar.name }}</a>.<BR>
            <BR>

            {{ link_button('Add Fee', path('fee_new', { id: registrar.id })) }}
            {{ link_button('Export', path('fee_export', { id: registrar.id })) }}

            <BR>
            <BR>

            {% if domains %}
                <h4>Missing TLD Fees</h4>
                {% for d in domains %}
                    <strong><a href="{{ path('fee_new', { id: registrar.id, tld: d.tld }) }}">{{ d.tld }}</a>&nbsp;</strong>
                {% endfor %}
                <br>
                {% if domains|length == 1 %}
                    You have domains with
                    {{ registrar }}
                    that use this TLD, however there are no fees associated with it yet.
                    You should add this fee as soon as possible.<BR> <BR> <BR>
                {% else %}
                    You have domains with
                    {{ registrar }}
                    that use these TLDs, however there are no fees associated with them
                    yet. You should add these fees as soon as possible.<BR> <BR> <BR>
                {% endif %}
            {% endif %}

            {% if fees %}
                <table id="fee-table" class="table">
                    <thead>
                    <tr>
                        <th style="width: 20px"></th>
                        <th>TLD</th>
                        <th>Initial</th>
                        <th>Renewal</th>
                        <th>Transfer</th>
                        <th>Privacy</th>
                        <th>Misc</th>
                        <th>Currency</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fee in fees %}
                        <tr>
                            <td></td>
                            <td>.<a href="{{ path('fee_edit', { id: fee.id }) }}">{{ fee.tld }}</a></td>
                            <td>{{ fee.currency.symbol|default('') }} {{ fee.initialFee ?: '-' }}</td>
                            <td>{{ fee.currency.symbol|default('') }} {{ fee.renewalFee ?: '-' }}</td>
                            <td>{{ fee.currency.symbol|default('') }} {{ fee.transferFee ?: '-' }}</td>
                            <td>{{ fee.currency.symbol|default('') }} {{ fee.privacyFee ?: '-' }}</td>
                            <td>{{ fee.currency.symbol|default('') }} {{ fee.miscFee ?: '-' }}</td>
                            <td>{{ fee.currency|default('') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <br>You don't currently have any fees associated with this
                domain registrar. <a
                    href="{{ path('fee_new', { id: registrar.id }) }}">Click here
                to add one</a>.
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('datatables') }}
    <script>
        $('#fee-table').DataTable();
    </script>
{% endblock %}