{% extends 'base.html.twig' %}

{% block title %}
Add Fee
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{{ path('asset') }}">Assets</a></li>
<li class="breadcrumb-item"><a href="{{ path('registrar_index') }}">Registrars</a></li>
<li class="breadcrumb-item"><a
	href="{{ path('fee_index', { id: registrar.id }) }}">Fees</a></li>
<li class='breadcrumb-item active'>Add</li>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
			
			<strong>Domain Registrar</strong>
			<br>
			{{ registrar.name }}
			<br>
			<br>			
				{{ include('fee/_form.html.twig') }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
