{% extends 'base.html.twig' %}

{% block title %}SSL Certificate Types{% endblock %}

{% block page_content %}
    {% embed '@AdminLTE/Widgets/card-widget.html.twig' %}
        {% from "@AdminLTE/Macros/buttons.html.twig" import link_button %}

        {% block card_body %}
            Below is a list of all the SSL Certificates Types that are stored in
            DomainMOD.<BR>
            <BR>

            {{ link_button('Add SSL Type', path('ssl_cert_type_new')) }}
            {{ link_button('Export', path('ssl_cert_type_export')) }}

            <BR>
            <BR>

            {% if ssl_cert_types %}
                <table id="assets-ssl-types"
                       class="table table-striped dt-responsive cell-border compact">
                    <thead>
                    <tr>
                        <th style="width: 20px"></th>
                        <th>Type</th>
                        <th>SSL Certs</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ssl_cert_type in ssl_cert_types %}
                        <tr>
                            <td></td>
                            <td><a
                                        href="{{ path('ssl_cert_type_edit', { id: ssl_cert_type.id }) }}">{{ ssl_cert_type.type }}</a>
                                {% if ssl_cert_type.id == app.user.settings.defaultSslType.id|default(false) %}*{% endif %}
                            </td>
                            <td>
                                <a href="{{ path('ssl_cert_index', { 'ssl_cert_filter[type]': ssl_cert_type.id }) }}">{{ ssl_cert_type.sslCerts|length ?: '-' }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <strong>*</strong> = Default (<a
                    href="{{ path('settings_defaults') }}">set defaults</a>)<BR>
                <BR>
            {% else %}
                <BR>You don't currently have any SSL Types. <a
                    href="{{ path('ssl_cert_type_new') }}">Click here to add one</a>.
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block stylesheets %}
    <style>
        #assets-ssl-types thead th {
            padding: 2px 0px 2px 6px;
            border: 0;
            white-space: nowrap;
        }

        #assets-ssl-types tbody tr:hover {
            background-color: #dddddd;
        }

        #assets-ssl-types tbody td {
            padding: 2px 0px 2px 6px;
            border: 0;
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('datatables') }}
    <script>
    $('#assets-ssl-types').DataTable();
    </script>
{% endblock %}