{% extends 'base.html.twig' %}

{% block title %}SslCertType{% endblock %}

{% block body %}
    <h1>SslCertType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ssl_cert_type.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ ssl_cert_type.type }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ ssl_cert_type.notes }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ ssl_cert_type.created ? ssl_cert_type.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ ssl_cert_type.updated ? ssl_cert_type.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ssl_cert_type_index') }}">back to list</a>

    <a href="{{ path('ssl_cert_type_edit', {'id': ssl_cert_type.id}) }}">edit</a>

    {{ include('ssl_cert_type/_delete_form.html.twig') }}
{% endblock %}
